.userprofile {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 250px;
  background-color: rgb(48, 47, 55);
  cursor: pointer;
  border-right: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.userprofile .optbar {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.userprofile h1 {
  color: white;
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.settingsTrigger {
  font-size: 25px;
  width: 25px;
  height: 25px;
  margin: 0;
  cursor: grab;
}

.settingsTrigger img {
  margin: 0 !important;
}

.nopointer { cursor: default; }

.editbtn {
  display: inline;
  cursor: pointer;
  margin-left: 10px;
  width: 150px;
}

.editinp {
  width: auto;
  border: 0;
  outline: 0;
  background-color: rgb(78, 76, 87);
  color: white;
  border-radius: 8px;
  resize: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 14px;
}


.profileoutlinediv {
  background-color: rgb(115, 114, 125);
  border-radius: 12px;
  width: min-content;
  height: auto;
  position: fixed;
  left: 50vw;
  top: 50vh;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%); 
  z-index: 1000;
  padding: 24px;
  gap: 8px;
  box-shadow: 0 0 24px rgb(0, 0, 0, 0.5);
  width: 400px;
}

.profileoutlinediv > span {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.profileoutlinediv > span > h5 {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(168, 167, 178);
}

.pfptitlediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.pfptitlediv > h1 {
  margin: 0;
}

.profileoutlinediv::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
  transform: translate(-50%, -50%);
  content: "";
  background-color: #0008;
  z-index: -10;
  pointer-events: none;
}

.profileoutlinediv h1 {
  text-align: center;
  float: left;
}

.profileoutlinediv h5 {
  font-size: 22px;
  margin-bottom: 0px;
}

.profileoutlinediv p {
  margin-top: 0px;
  font-size: 17px;
}

.pfp {
  margin: 0 auto;
  position: relative;
  /* margin-left: -25%; */
  height: 100%;
  width: auto;
  z-index: 1001;
}

.pfpupload {
  z-index: 10002;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  border: none;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  border-radius: 5px;
}

.pfpupload:hover {
  display: block;
}

input[type="file"] {
  display: none;
}

.pfpcrop {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  text-align: center;
  float: left;
}

.pfpsmall {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.dmBar {
  margin-top: -64px;
  background: linear-gradient(to right, rgb(23, 23, 27) 10px, rgb(23, 23, 27), rgb(42, 41, 48));
  position: fixed;
  height: 64px;
  z-index: 10;
  display: flex;
  align-items: center;
  width: calc(100vw - 250px);
  padding: 8px 16px;
  cursor: pointer;
}

.dmbarpfp {
  display: inline;
  height: 75%;
  border-radius: 50%;
}

.dmbaruname {
  display: inline;
  margin-left: 30px;
}

.dmbarstat {
  float: right;
  margin-left: 50px;
  color: rgb(139, 139, 139);
  font-size: 20px;
}


/* Group DM friends display */
.uSelectWrapper {
  margin-top: 15px;
  font-size: 1.5em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.uSelectWrapper input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin-left: 25%;
}

.groupDMSubmitBtn {
  background-color: rgb(75, 75, 190);
  font-size: 2em;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: 15px;
}

.groupDMSubmitBtn:hover {
  cursor: pointer;
  background-color:rgb(106, 106, 255);
}

.logoutallsessionsbtn {
  color: #ffffff;
  background-color: #e01b24;
  white-space: pre;
  font-size: 19px;
  padding: 15px 50px;
  cursor: pointer;
  border-style: none;
  margin-top: 16px;
  border-radius: 8px;
}

.logoutallsessionsbtn:hover {
  color: #ffffff;
  background-color: #a51d2d;
}